body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center{
  text-align: center;
}

.sidebar-layout{
  top:0; 
  background-color: brown;
  height: 100%;
  width: 15%;
  position: absolute;
  padding-top: 50px; 
}

.nav-link{
  margin: 10px;
  display: block;
  color: white;
  text-decoration-line: none;
  border: solid chocolate;
  background-color: chocolate
}
.nav-link-active{
  background-color: black;
  border: solid black;
}

.header{
  width: 100%;
  height: 50px;
  background-color: black;
}

.btn-logout{
  right: 5%;
  position: absolute;
  margin-top:13px;
  border: red none ;
  border-radius:5px;
  background-color:brown; 
  color: white;
}

.loginform{
  margin-top: 100px;
  /* width: 50px; */
  /* height: 100px; */
  /* background-color: brown; */
}

.loginform-input{
  width: 200px;
  height: 30px;
  border: solid black; 
  padding: 10px;
  font-size: 30px;
  display: block;
  margin: 10px auto;
}

.loginform-btn{
  width: 200px;
  height: 40px;
  background-color: brown;
  color: white;
  border: none;
  font-size: 20px;
}


.loginform-error-message{
  color: brown;
}
.member{
  font-size: 40px;
  display: inline;
}